<div class="bg-light">
  <div class="container py-4">
    © My SaaS <%= Time.now.year %>
    <%= link_to 'About', about_path %>
    <%= link_to 'Pricing', pricing_path %>
    <%= link_to 'Privacy', privacy_path %>
    <%= link_to 'Terms', terms_path %>
  </div>
</div>
