<div class="bg-light py-3">
  <div class="container d-flex flex-column flex-md-row justify-content-center align-items-center text-center gap-2">
    <div>© My SaaS <%= Time.now.year %></div>
    <%= link_to 'About', about_path, class: 'text-decoration-none' %>
    <%= link_to 'Pricing', pricing_path, class: 'text-decoration-none' %>
    <%= link_to 'Terms', terms_path, class: 'text-decoration-none' %>
    <%= link_to 'Privacy', privacy_path, class: 'text-decoration-none' %>
  </div>
</div>
