<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to root_path, class: 'navbar-brand' do %>
      My Saas
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if current_user %>
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <%= link_to root_path, class: "nav-link #{'active' if current_page?(root_path) }" do %>
              <i class="fas fa-home"></i>
              Home
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to users_path, class: "nav-link #{'active' if current_page?(users_path) }" do %>
              <i class="fas fa-users"></i>
              Users
              <span class="badge text-bg-info">
                <%= User.count %>
              </span>
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to tenants_path, class: "nav-link #{'active' if current_page?(tenants_path) }" do %>
              <i class="fas fa-hotel"></i>
              Tenants
              <span class="badge text-bg-info">
                <%= Tenant.count %>
              </span>
            <% end %>
          </li>
        </ul>

        <ul class="navbar-nav mr-right">
          <% if current_user.tenants.include?(current_user.tenant) %>
            <%= link_to tenant_path(current_user.tenant), class: "nav-link #{'active' if current_page?(tenant_path(current_user.tenant)) }" do %>
              <i class="fas fa-briefcase"></i>
              <%= current_user.tenant.name %>
            <% end %>
          <% end %>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-hotel"></i>
              <% if current_user.tenants.include?(current_user.tenant) %>
                Tenants
              <% else %>
                Tenants
              <% end %>
            </a>

            <ul class="dropdown-menu dropdown-menu-end">
              <%= link_to my_tenants_path, class: "dropdown-item #{'active' if current_page?(my_tenants_path) }"  do %>
                <i class="fas fa-hotel"></i>
                My Tenants
              <% end %>

              <li><hr class="dropdown-divider"></li>

              <%= link_to new_tenant_path, class: "dropdown-item #{'active' if current_page?(new_tenant_path) }" do %>
                <i class="fas fa-briefcase"></i>
                New Tenant
              <% end %>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <b><%= current_user.email %></b>
            </a>

            <ul class="dropdown-menu dropdown-menu-end">
              <%= link_to edit_user_registration_path, class: "dropdown-item #{'active' if current_page?(edit_user_registration_path) }" do %>
                <i class="fas fa-user-cog"></i>
                Account settings
              <% end %>

              <li><hr class="dropdown-divider"></li>

              <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
                <i class="fas fa-sign-out-alt"></i>
                Sign out
              <% end %>
            </ul>
          </li>
        </ul>
      <% else %>
        <ul class="navbar-nav me-auto"></ul>
        <ul class="navbar-nav mr-right">
          <li><%= link_to "Register", new_user_registration_path, class: "nav-link #{'active' if current_page?(new_user_registration_path) }" %></li>
          <li><%= link_to "Login", new_user_session_path, class: "nav-link #{'active' if current_page?(new_user_session_path) }" %></li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>
