<% provide(:breadcrumb) do %>
  <%= mount_breadcrumb([
    ['Início', root_path],
    ['Members', members_path],
    ['Member']
  ]) %>
<% end %>

<div class="card shadow">
  <div class="card-header">
    <h4>
      <strong>User:</strong>
      <%= @member.user %>
    </h4>
  </div>
  <div class="card-body">
    <strong>Tenant:</strong>
    <%= @member.tenant %>

    <br>

    <strong>Roles:</strong>
    <%= @member.active_roles.join(" ") %>
  </div>
  <div class="card-footer">
    <% if @current_member.admin? %>
      <%= link_to 'Edit', edit_member_path(@member) %>
    <% end %>
    <%= link_to 'Back', members_path %>
  </div>
</div>
